*{
box-sizing:border-box;
margin: 0;
padding: 0;
font-family: serif;
}

body {
    background-color: #42455a;
}

.header{
padding: 20px;
background-color: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da,#19d7f8);
color: white;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.avatar img{
    width: 400px;
    height: 400px;
    margin-bottom: 25px;
    margin-left: 575px;
    margin-top: 50px;
    text-align: center;
    
}

.active{
    color: #19dafa !important;
}

.content{
   width: 80%;
   display: inline-block;
   margin-left: 20px;
}

.Welcome {
    margin: 25px -200px 20px 100px;
    padding: 20px;
    height: 200px;
    font-family: serif;
    color: #ffffff;
    text-align: center;
}

.Welcome h2{
    margin-bottom: 20px;
    font-size: 50px;
}
.Welcome p{
    font-size: 20px;
}

.About-the-Artist {
    margin-bottom: 20px;
    margin-right: -200px;
    margin-left: 100px;
    padding: 50px;
    height: 300px;
    font-family: serif;
    color: #ffffff;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 20px;
    border-width: -300px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.About-the-Artist h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.Works {
    margin-bottom: 20px;
    margin-right: -200px;
    margin-left: 100px;
    padding: 50px;
    height: 500px;
    font-family: serif;
    color: #ffffff;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.Works h2{
    margin-bottom: 20px;
    font-size: 36px;
}

#campfire{
    background-image: url(camp.jpg);
   width: 300px;
   height: 150px;
   float: left;
   margin-left: 100px;
}

#city{
    background-image: url(city.jpg);
    width: 300px;
   height: 150px;
   float: right;
   margin-right: 150px;
}

#forest{
    background-image: url(forest.jpg);
    width: 300px;
    height: 150px;
    float: left;
    margin: 25px 300px 0 100px;
    display: inline-block
}

#eye{
    background-image: url(eye\ sky.png);
    width: 300px;
    height: 150px;
    float: right;
    margin-top: 175px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: serif
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}